body {
    background-image: url("images/COMPANY\ NAME.png");
    background-size:cover;
 }
 H1 {
margin-top: 165px;
margin-left: 200px;
font-size: xxx-large;
font-family:'Courier New', Courier, monospace;
 }
 
 


